.work {
    background-color: #568EA6 ;
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding-top: 5.5vh;

}

.card-exper {
    margin:0 2vh;
}