.todo-header {
    background-color: #568EA6 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12rem 0;  
}

.todo-header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vh 0 0 0;
}

