.main-content{
    display: flex;
    background-color: #f19b9c;
    
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 15vh 25vh 15vh 20vh;
    color: #305F72;
}

.pic {
    height: 50vh;
}

.pic-text {
    margin-left: 2vh;
}

.pic-text p {
    font-weight: 500;
}

hr {
    background-color: #568EA6;
    
}