.main-content{
    display: flex;
   
}

.context {
    display: flex;
    flex-direction: column;
}

.btnCtxt {
    width: 10rem;
    margin-left: 160vh;
    margin-top: 2vh;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 15vh 10vh 15vh 5vh;
}

.pic {
    height: 50vh;
    
}

.pic-text {
    margin-left: 5vh;
}

.pic-text p {
    font-weight: 500;
}

hr {
    background-color: #568EA6;
    
}