.user-data{
    background-color: #568EA6 ;
    color: white;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: palegoldenrod;
    }

    .user-item {
        border-color:white;
        border-style: dashed;
        width: 50%;
        margin: 2vh;
        padding: 1vh;

        p {
            font-weight: 700;
            color: #ffb4b5;  
        }
    }
}