.cover {
    display: flex;
    align-items: center;
    padding-left: 30vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90vh;
}

.cover::after {
    content: "";
    background-image: url(./bg.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
  
  
.cover h1 {
    margin: 0%;
    color: #305F72;
}

.cover p{
    margin: 0%;
    color: #305F72;
    width: 130vh;
    font-weight: 500;
}