.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    padding-right: 5vh;
    color: #305F72;
    /* background-color: #F18C8E;  */
    height: 6vh;
    border-top: #F18C8E;
    border-width: 0.2rem;
    border-top-style: solid;
    
   
}

.footer p {
    margin: 0%;
    padding: 0 0 0 10vh;
    font-size: 2vh;
    font-weight: 700;
}

