.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    /* background-color: #F18C8E;  */
    height: 10vh;
    font-size: 2.5vh;
    font-weight: 700;
    border-bottom: #F18C8E;
    border-width: 0.2rem;
    border-bottom-style: solid;
}



