.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #568EA6 ;   */
    width: 50vh; 
    font-size: 8vh;    
}

.icon {
    padding: 3vh 0;
    
}

.icon a {
    color: #F0B7A4;
}
